$def with(msg)

<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </head>
  <body>

<div style="padding: 50 50">

$if msg['ret'] == 0:
  <div class="alert alert-success" role="alert">$msg['info']</div>
$elif msg['ret'] == 1:
  <div class="alert alert-danger" role="alert">$msg['info']</div>

<div class="well well-lg">

  <form method="POST" enctype="multipart/form-data" action="/file/upload/put">
    <p align="center">文件上传或者覆盖更新</p>
    <div class="input-group">
      <span class="input-group-addon" id="basic-addon1">文件路径</span>
      <input type="text" name="path" class="form-control" placeholder="/upload/2016/05/10/upload.png，为空系统生成"  
pattern="/([a-zA-Z0-9]+/)+([a-zA-Z0-9])+\.(js|css|md|txt|png|jpg|gif|jpeg|zip|gz)" 
title="请输入一个合法的下载地址：
/([a-zA-Z0-9]+/)+([a-zA-Z0-9])+\.(js|css|md|txt|png|jpg|gif|jpeg|zip|gz)"/>
    </div>
    <div class="input-group">
      <span class="input-group-addon" id="basic-addon1">本地文件</span>
      <input type="file" name="myfile" class="form-control" required/>
    </div>
    <p align="center"><br/><input type="submit" value="上传" /></p>
  </form>
  
</div>
<br/>
  
<div class="well well-lg">
  <p align="center">刷新缓存</p>
  <form method="POST" action="/file/cdn/cache">
    <div class="input-group">
    <textarea rows="10" cols="100" class="form-control" required></textarea>
    </div>
    <p align="center"><br/><input type="submit" value="刷新" /></p>
  </form>
</div>

</div>
</body>
</html>
